/* search.css */
.search-bar {
    display: flex;
    align-items: center;
    margin: 10px; /* Adjust the margin as needed */
    flex-direction: column;
  }
  
  .search-icon {
    margin-right: 8px; /* Adjust the spacing between the icon and the input */
  }
  
  input {
    padding: 8px;
    /* Add other input styles as needed */
    margin-bottom: 10px;
  }
  
  button {
    padding: 8px;
    background-color: #007bff; /* Adjust the background color as needed */
    color: #fff; /* Adjust the text color as needed */
    border: none;
    cursor: pointer;
    width: 100px;
    margin-bottom: 10px;
  }

  button:hover {
  background-color: #0056b3; /* Adjust the background color on hover */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
  